.lot{
    display:flex;
    flex-direction:column;
    
}
table{
    width:370px;
    border:1px solid grey;
    background:#a4c47c;
    margin:auto;
}
.nechet{
  background:#f2f1ed;  
}
.chet{
  background:#dce8b7;
}
td,th{
    padding:2px;
    text-align: center;
}
.ro{
   font-weight:normal;
   text-align:left;
   padding-left: 10px; 
}
.header{
    background:#9ca880;
    border:1px solid grey;
    font-size: 45px;
    height:70px;
    padding-left: 700px;
    margin-bottom:15px;
}

.nav{
    background:#f2f1ed;
    text-align: center;
}
.footer{
   background:#96a381;
    border:1px solid grey;
    font-size: 20px;
    height:80px; 
}
.logo{
    float:left;
    margin-right: 25px;
}
.cat{
    background:#f2f1ed;
    border:1px solid grey;
    height: 50px;
    text-align: center;
    margin: auto;
}
.clear{
    clear:both;
}
form{
   padding-left:350px;
}
@media screen and (max-width:1160px){
    .header{
        padding-left:150px;
    }  
    form{
      padding-left:100px;  
    }
}
@media screen and (max-width:381px)
{
    .header{
        padding-left:0px;
        font-size: 35px;
    }  
    .name{
        padding-top: 15px;
    }
    .cat {
        height: 50px;
        text-align:left;
}
    .nav {
       display:flex;
        flex-direction: column;
        text-align: left;
}
    .ris{
        width: 380px;
        height: auto;
    }
    table {
        width: 300px;
       
}
    .table{
    
        order: 2;
    }
    .form{
        order: 1;
    }
    .logo{
      margin-right:0px;  
    }
}
